{% extends 'layout.html' %}

{% block style %}
    <style>
        .img-jumbo {
            background-image : linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("{{ url_for('static',filename='images/data_bg.jpeg') }}");
            background-size : cover;
            -webkit-background-size: 100% 100%;
            -moz-background-size: 100% 100%;
            -o-background-size: 100% 100%;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container my-2 py-2">
        <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active " data-interval="4000">
                    <img src="{{ url_for('static',filename='images/1.svg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="4000">
                    <img src="{{ url_for('static',filename='images/2.svg') }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="carousel-item" data-interval="4000">
                <img src="{{ url_for('static',filename='images/3.svg') }}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        </div>
    </div>
    <div class="jumbotron img-jumbo">
        <div class="container text-success text-break text-*-left">
            <h1>
                Welcome ,
            </h1>
            <small class="font-weight-bold h6">
                To a one stop solution to all your data visualization needs.
            </small>
            <hr >
            <hr >
            <hr >
            <hr >
            <hr >
            <hr >
            <hr >
            <hr >
            <hr >
            <hr >
            <hr >
            <hr >
        </div>
        <div class="container my-9 text-white">
        </div>
    </div>

{% endblock %}
